.input:focus {
    outline: none;
    border:  1px solid black;
}

.superInput {
    margin: 10px;

    background: lavender;
    color: black;
}

.errorInput {
    margin: 10px;

    background: lavender;
    color: black;

    border: 1px solid #dd3355;
}

.error {
    color: #dd3355;
    height: 21px;
    margin-left: 10px;
}