.option {
    color: black;
    background: white;
}

.option:checked {
    color: white;
    background: royalblue;
}

.select {
    width: 100px;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    border: 2px solid black;
    appearance: none;
    background-image: url("str.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right;


}
